<!DOCTYPE html>
<html lang="en" ng-app="quotes">
  <head>
    <meta charset="utf-8">
    <title>Inspirational quotes</title>
    <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body>
    <ul class="quote-list" ng-controller="quote-list">
      <li class="quote-li" ng-repeat="quote in quotes">
        <p>{{quote.text}}</p>
        <footer>- {{quote.author}}</footer>
        <ul class="stars">
          <li class="star" ng-repeat="star in formatStars(quote.stars) track by $index">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0"
               width="13px" height="13px" viewBox="0 0 112 106.525"  xml:space="preserve">
            <path class="star-svg {{star}}" d="M81.564,67.186l9.043,39.336L56,85.759l-34.607,20.768l9.047-39.336L0,40.684l40.203-3.542L56-0.001l15.797,37.143
              L112,40.684L81.564,67.186z"/>
            </svg>


          </li>
        </ul>

      </li>
      <form ng-submit="addQuote()" class="add-quote">
        <input type="text" ng-model="newQuoteText" placeholder="Add new quote">
        <input type="text" ng-model="newQuoteAuthor" placeholder="Author">
        <input type="submit" value="Add">
      </form>

    </ul>



    <script src="main.js"></script>

  </body>
</html>
