ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.quote-list{
  width: 400px;
  margin: auto;
}

.quote-li{
  position: relative;
  background-color: #80a9e9;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
.quote-list p{
  margin: 5px;
  width: 80%;
}

.quote-list footer{
  float: right;
}

.stars{
  position: absolute;
  top: 14px;
  right: 5px;
}

.star{
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.star-svg {
  fill: transparent;
  stroke: black;
  stroke-width: 4px;

}

.star-filled {
  fill: yellow;
}

.add-quote{
  margin-top: 10px;
  text-align: center;
}
