<!DOCTYPE html>
<html lang="en" ng-app="quotes">
  <head>
    <meta charset="utf-8">
    <title>Inspirational quotes</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style/main.css">
  </head>

  <body>
    <a href="#/"><h1 class="logo">Inspirational Quotes!</h1></a>
    <div ng-controller="QuotesCtrl">
      
      <div ng-view></div>

      
      <div class="screen" ng-show="randomQuote" ng-click="hideLightbox()">
        <div class="lightbox quote-list">
          <div class="quote-li clearfix">
            <p>{{randomQuote.text}}</p>
            <footer>- {{randomQuote.author}}</footer>
            <ul class="stars">
              <li class="star" ng-repeat="star in formatStars(randomQuote.stars) track by $index" ng-click="setStars(randomQuote)">
                <svg version="1.1"
                   width="13px" height="13px" viewBox="0 0 112 106.525">
                <path class="star-svg {{star}}" d="M81.564,67.186l9.043,39.336L56,85.759l-34.607,20.768l9.047-39.336L0,40.684l40.203-3.542L56-0.001l15.797,37.143
                  L112,40.684L81.564,67.186z"/>
                </svg>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  </body>
</html>
